section(class="blogSection")
    div(class="blogDiv")
        div(class="blogHead")
            h2 Blog
        div(class="blogMain" id="blogMain")
            div(class="imageDivBlog")    
                div(class="blogImageDiv")
                    img(src="https://picsum.photos/300/300", alt="project image",title="Read Full Blog") 
                h4 Blog Title
                button Read More
            div(class="imageDivBlog")    
                div(class="blogImageDiv")
                    img(src="https://picsum.photos/300/300", alt="project image",title="Read Full Blog") 
                h4 Blog Title
                button Read More
            div(class="imageDivBlog")    
                div(class="blogImageDiv")
                    img(src="https://picsum.photos/300/300", alt="project image",title="Read Full Blog") 
                h4 Blog Title
                button Read More
                
           
script
    include ../../public/js/blog.js