section(class="contactSection")
    div(class="contactDiv")
        div(class="contactHead")
            h2 Contact Me
        div(class="contactForm")
            form(action="")
                input(type="text" placeholder="Name")
                input(type="email" placeholder="Email")
                textarea(name="msg", cols="30", rows="10" placeholder="Your Message" )
                input(type="button", value="Send Message")