section(class="heroSection")
    div(class="heroDiv")
        div(class="heroText")
            h1 "I Convert Your Thoughts Into Code..."
            p I Design High Quality Websites And Provide Web Solutions To Businesses.
            button(id="message") Leave A Message

        div(class="heroImage")
            include ../../assets/coder.svg

    script
        include ../../public/js/hero.js
            
        
