section(class="portfolioSection")
    div(class="portfolioDiv")
        div(class="portfolioHead")
            h2 Portfolio
        div(class="portfolioMain" id="portfolioMain")
            div(class="imageDiv")    
                img(src="https://picsum.photos/300/300", alt="project image")
            div(class="imageDiv")    
                img(src="https://picsum.photos/300/300", alt="project image")
            div(class="imageDiv")    
                img(src="https://picsum.photos/300/300", alt="project image")
                
           
script
    include ../../public/js/portfolio.js