section(class="problemsSection")
    div(class="problemsDiv")
        div(class="problemsHead")
            h2 About Me
        div(class="problemsMain" id="problemsMain")
            div(class="problemsImage")
                include ../../assets/problem.svg
            div(class="problemText")
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia beatae, inventore consequatur suscipit necessitatibus, qui dolores similique tempora fugit voluptates neque id cupiditate saepe est temporibus quisquam doloremque nam porro!
script
    include ../../public/js/problems.js