html
    include ./include/head.pug

    body
        include ./partials/nav.pug
        include ./partials/hero.pug
        include ./partials/problems.pug
        include ./partials/portfolio.pug
        include ./partials/blog.pug
        include ./partials/contact.pug
        include ./partials/footer.pug







        




