.blogSection {
  width: 100%;
  height: 100vh;
  background-color: rgb(243, 243, 243);
}

.blogDiv {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  grid-template-rows: 1fr 5fr;
}

.blogHead h2 {
  font-size: 35px;
  letter-spacing: 1.1px;
  padding: 1rem;
}

.blogMain {
  opacity: 0;
  display: grid;
  place-items: center;
  width: 90%;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 1rem;
}

.imageDivBlog {
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr 1fr;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  place-items: center;
}

.imageDivBlog:hover {
  box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.6);
}

.imageDivBlog h4 {
  padding: 1rem;
}

.imageDivBlog button {
  border: unset;
  color: orange;
  width: 200px;
  height: 35px;
  transition: all 0.2s ease;
  cursor: pointer;
}
.imageDivBlog button:hover {
  border: 1px solid orange;
  color: white;
  background-color: orange;
}

.blogMain img {
  width: 100%;
  height: 250px;
  transition: all 0.3s ease-in-out;
}

/* .blogMain img:hover {
  transform: scale(1.1);
  box-shadow: 0 3px 20px -3px black;
} */

.blogImageDiv {
  width: 100%;
}

.animationClassBlog {
  animation: animateProblem2 0.9s ease-in-out;
  opacity: 1;
}

@keyframes animateProblem2 {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* media query */

@media (max-width: 400px) {
  .blogSection {
    width: 100%;
    min-height: auto;
    background-color: rgb(243, 243, 243);
  }
}
