head
    title Yog Sharma
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet")
    style
        include ../../public/css/main.css
        include ../../public/css/nav.css
        include ../../public/css/hero.css
        include ../../public/css/problems.css
        include ../../public/css/portfolio.css
        include ../../public/css/blog.css
        include ../../public/css/contact.css
        include ../../public/css/footer.css